<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h3>All Chats !</h3>

        <form method="get" action="/chats/new">
            <button class="new-chat-btn">+ New Chat</button>
        </form>

        <div class="chats-container">
            <% for(let chat of chats){ %>
                <div class="chat">
                    <p class="chat-from">From: <strong><%= chat.from %></strong></p>
                    <div class="msg">
                        <p><%= chat.msg %></p>
                        <div class="chat-actions">
                            <form method="get" action="/chats/<%=chat._id%>/edit">
                                <button class="btn-edit">Edit</button>
                            </form>
                            <form method="post" action="/chats/<%=chat._id%>?_method=DELETE">
                                <button class="btn-delete">Delete</button>
                            </form>
                        </div>
                    </div>
                    <p class="chat-to">To: <strong><%= chat.to %></strong></p>
                    <div class="chat-time">
                        <small><%= chat.created_at.toString().split(" ")[4]%> · <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></small>
                    </div>
                </div>
            <%} %>
        </div>
    </div>
</body>
</html>

